@charset "UTF-8";

body {
  font-family: 'Lato';
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.inner {
  margin: 0 auto;
  width: 1100px
}

.text-center {
  text-align: center;
}

.greenback {
  color: #fff;
  background-color: #74cfae;
  font-size: 12px;
  transition:all 0.3s;
  cursor:pointer;
}

.header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 10000;
}

.header-inner {
  padding: 15px 0;
}

.fas {
  font-size: 50px;
}

.button {
  padding: 14px 12px;
  float: right;
}

.button:hover {
  color:#333;
}

main {
  padding-top: 80px;
}

.title {
  background-color: #f5f5f5;
  width: 100%;
}

.title-inner {
  padding: 250px 0;
}

.title-inner-text h1 {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.title-inner-text p {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.section {
  background-color: #74cfae;
  color: #fff;
  font-family: "Raleway";
}

.section-inner {
  padding-top: 50px;
}

.section-inner-box {
  float: left;
  width: 30%;
}

.section-inner-box img {
  vertical-align: bottom;
}

.section-inner-text {
  width: 63%;
  float: left;
  font-size: 24px;
  font: lighter;
  margin-top: 50px;
  font-family: "Raleway";
}

.section-inner-text h2 {
  font-size: 24px;
}

.section-inner-text p {
  font-size: 20px;
  margin-top: 35px;
}

.article {
  background-color: #f5f5f5;
}

.article-inner {
  padding: 60px 0 70px 0;
}

.article-inner-title {
  font-size: 24px;
  font-family: "Raleway";
}

.article-inner-box {
  overflow: hidden;
  margin-top: 40px;
  padding: 0;
}

.article-inner-box-inner {
  float: left;
  margin: 80px 0 0 100px;
  list-style: none;
}

.article-inner-box-inner img {
  transition:all 0.3s;
  opacity: 0.7;
  cursor:pointer;
}

.article-inner-box-inner img:hover {
  opacity: 1; 
}

.article-inner-box-inner a {
  display: inline-block;
}

.article-inner-box li:nth-child(3n+1) {
  margin-left: 0;
}

.article-inner-box li:nth-child(-n+3) {
 margin-top: 0;
}

.article-inner-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.article-inner-footer-text {
  width: 43%;
}

.mail {
  padding:  14px 20px;
  margin-left: 90px;
}

.mail:hover {
  color:#333;
}

.our-skill {
  background-color: #4e4e4e;
  color: #fff;
}

.our-skill-box {
  padding: 70px 0 100px 0;
}

.our-skill-text {
  font-size: 24px;
  font-family: "Raleway";
}

.our-skill-inner {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.our-skill-inner li {
  margin-left:  180px;
}

.our-skill-inner li:first-child {
  margin-left: 0;
}

.our-skill-inner p {
  font-size: 16px;
  margin-top: 10px;
}

.fab {
  font-size: 50px;
}

.nav {
  background-color: #f5f5f5;
  font-size: 0;
}

.nav-inner {
  padding: 200px 0;
}

.nav-inner li {
  list-style: none;
  display: inline-block;
  transition:all 0.3s;
  width: 15%;
  cursor:pointer;
}

.nav-inner li a {
  display: block;
  height: 100%;
  padding: 20px 0;
  color: #74cfae;
}

.nav li:hover {
  background-color: #fff; 
}

.footer {
  background-color: #74cfae;
  color: #fff; 
}

.footer-inner {
  padding:20px 0 25px 0;
}

.footer-text {
  float: right;
}

@media screen and (max-width:1199px) {
  .inner {
    width: 97%;
  }

  .section-inner {
    padding-bottom: 25px;
  }

  .section-inner-box {
    width: 100%;
    float: none;
  }

  .section-inner-text {
    float: none;
    width: 100%;
    margin-top: 20px;
  }

  .article-inner-box-inner {
    float: none;
    margin: 0;
  }

  .article-inner-box img {
    vertical-align: bottom;
  }

  .article-inner-box li:nth-child(3n+4) {
    margin-top: 80px;
  }

  .article-inner-footer {
    flex-direction: column;
    margin-top: 80px;
  }

  .article-inner-footer-text {
    width: 100%;
  }
  
  .mail {
    margin-left: 0;
    margin-top: 40px;
  }

  .our-skill-box {
    padding: 70px 0 100px 0;
  }
  
  .our-skill-inner {
    flex-direction: column;
  }
  
  .our-skill-inner li {
    margin-left:  0;
    margin-top: 88px;
  }

  .our-skill-inner li:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width:767px) {

  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  .button span,
  .button span:before,
  .button span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    background-color: #ddd;
    position: absolute;
  }

  .button span:before {
    bottom: 8px;
  }

  .button span:after {
    top: 8px;
  }

  .button:hover {
    color: #fff;
  }

  .title-inner {
    padding: 160px 0 130px;
  }

  .title-inner-text h1 {
    font-size: 80px;
  }

  .nav-inner {
    padding: 50px 0;
  }
  
  .nav-inner li {
    width: 100%;
  }

}

