@charset "UTF-8";

body {
  font-family: 'Lato';
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.inner{
  margin: 0 auto;
  width: 1100px
}

.text-center {
  text-align: center;
}

.header{
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 10000;
}

.header-inner{
  padding: 15px 0;
}

.fas{
  font-size: 50px;
}

.botton{
  font-size: 12px;
  background-color: #74cfae;
  padding: 14px 12px;
  color: #fff;
  float: right;
  transition:all 0.3s;
  cursor:pointer;
}

.botton:hover{
  color:#333;
}

main {
  padding-top: 80px;
}

.title{
  background-color: #f5f5f5;
  width: 100%;
}

.title-inner-text{
  padding: 250px 0;
}

.title-inner-text h1{
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.title-inner-text p{
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.section{
  background-color: #74cfae;
  padding-top: 50px;
  color: #fff;
  font-family: "Raleway";
}

.section-inner-box{
  float: left;
  width: 30%;
}

.section-inner-box img{
  vertical-align: bottom;
}

.section-inner-text{
  width: 63%;
  float: left;
  font-size: 24px;
  font: lighter;
  margin-top: 50px;
  font-family: "Raleway";
}

.section-inner-text h2{
  font-size: 24px;
}

.section-inner-text p{
  font-size: 20px;
  margin-top: 35px;
}

.article{
  background-color: #f5f5f5;
  padding: 60px 0 70px 0;
}

.article-inner-title{
  font-size: 24px;
  font-family: "Raleway";
}

.article-inner-box{
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.article-inner-box-inner{
  float: left;
  margin: 80px 0 0 100px;
  list-style: none;
  transition:all 0.3s;
  opacity: 0.7;
  cursor:pointer;
}

.article-inner-box-inner:hover{
  opacity: 1; 
}

.article-inner-box-inner a{
  display: inline-block;
}

.article-inner-box,li:nth-child(3n+1){
  margin-left: 0;
}

.article-inner-box li:nth-child(-n+3){
 margin-top: 40px;
}

.article-inner-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.article-inner-footer-text{
  width: 43%;
}

.mail{
  padding:  14px 20px;
  color: #fff;
  background-color: #74cfae;
  font-size: 12px;
  transition:all 0.3s;
  cursor:pointer;
  margin-left: 90px;
}

.mail:hover{
  color:#333;
}

.our-skill{
  background-color: #4e4e4e;
  color: #fff;
  padding: 70px 0 100px 0;
}

.our-skill-text{
  font-size: 24px;
  font-family: "Raleway";
}

.our-skill-inner{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.our-skill-inner li{
  margin-left:  180px;
}

.our-skill-inner li:nth-child(1){
  margin-left: 0;
 }

.our-skill-inner p{
  font-size: 16px;
  margin-top: 10px;
}

.fab{
  font-size: 50px;
}
.nav {
  background-color: #f5f5f5;
  padding: 200px 0;
}

.nav-inner li{
  list-style: none;
  display: inline-block;
  transition:all 0.3s;
  width: 15%;
  padding: 20px 0;
  cursor:pointer;
}

.nav-inner li a{
  display: block;
  height: 100%;
  color: #74cfae;
}

.nav li:hover{
  background-color: #fff; 
}

.footer{
  background-color: #74cfae;
  color: #fff; 
  padding:20px 0 25px 0;
}

.footer-text{
  float: right;
}
