@charset "UTF-8";

body {
  font-family: 'Lato';
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.inner{
  margin: 0 auto;
  width: 1100px
}

.text-center {
  text-align: center;
}

.header{
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 1;
}

.header-inner{
  padding-top: 15px;
  padding-bottom: 15px;
}

.fas{
  font-size: 50px;
}

.fa-bolt{
  margin-left: 50px;
}

.botton{
  font-size: 12px;
  background-color: #74cfae;
  padding: 14px 12px;
  color: #fff;
  float: right;
  margin-right: 50px;
  transition:all 0.3s;
  cursor:pointer;
}

.botton:hover{
  color:#333;
}

.title{
  background-color: #f5f5f5;
  width: 100%;
  padding-top: 80px;
}

.title-inner-text{
  padding-top: 250px;
  padding-bottom: 250px;
}

.title-inner-text h1{
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.title-inner-text p{
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.section{
  background-color: #74cfae;
  padding-top: 50px;
  color: #fff;
  font-family: "Raleway";
}

.section-inner-box{
  float: left;
  width: 30%;
}

.section-inner-box img{
  vertical-align: bottom;
}

.section-inner-text{
  width: 63%;
  float: left;
  font-size: 24px;
  font: lighter;
  margin-top: 50px;
  font-family: "Raleway";
}

.section-inner-text h2{
  font-size: 24px;
  margin-bottom: 35px;
}

.section-inner-text p{
  font-size: 20px;
}

.article{
  background-color: #f5f5f5;
  padding-top: 60px;
  padding-bottom: 70px;
}

.article-inner-title{
  font-size: 24px;
  font-family: "Raleway";
  margin-bottom: 40px;
}

.article-inner-box{
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.article-inner-box-inner{
  float: left;
  margin: 80px 0 0 100px;
  list-style: none;
  transition:all 0.3s;
  opacity: 0.7;
  cursor:pointer;
}

.article-inner-box-inner:hover{
  opacity: 1; 
}

.article-inner-box-inner a{
  display: inline-block;
}

.article-inner-box,li:nth-child(1){
  margin-left: 0;
}

.article-inner-box,li:nth-child(4){
  margin-left: 0;
}

.article-inner-box,li:nth-child(-n+3){
 margin-top: 0;
}

.article-inner-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.article-inner-footer-text{
  width: 43%;
}

.mail{
  padding:  14px 20px;
  color: #fff;
  background-color: #74cfae;
  font-size: 12px;
  transition:all 0.3s;
  cursor:pointer;
  margin-left: 90px;
}

.mail:hover{
  color:#333;
}

.our-skill{
  background-color: #4e4e4e;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 100px;
}

.our-skill-text{
  font-size: 24px;
  font-family: "Raleway";
  margin-bottom: 60px;
}

.our-skill-inner ul{
  display: flex;
  justify-content: center;
}

.our-skill-inner ul li{
  margin-right:  180px;
}

.our-skill-inner li:nth-child(n+4){
  margin-right: 0;
 }

.our-skill-inner p{
  font-size: 16px;
  margin-top: 10px;
}

.fab{
  font-size: 50px;
}
.nav {
  background-color: #f5f5f5;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
 
.nav ul li {
  list-style: none;
  display: inline-block;
  width: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
  transition:all 0.3s;
  cursor:pointer;
}

.nav ul li i {
  text-decoration: none;
  color: #74cfae;
}

.nav li:hover{
  background-color: #fff; 
}

.footer{
  background-color: #74cfae;
  padding-top: 20px;
  padding-bottom: 25px;
  color: #fff; 
}

.footer-text{
  float: right;
}
